---
import Stats from '../../components/StatsFa.astro';
import Features from '../../components/FeaturesFa.astro';
import HeroSection from '../../components/HeroSectionFa.astro';
import Layout from '../../layouts/LayoutFa.astro';
import CallToAction from '../../components/CallToActionFa.astro';
import Blog from '../../components/Blog.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40 font-[lalezar]" dir="rtl">
		<HeroSection/>
		<Features/>
		<Stats/>
		<CallToAction/>
		<Blog/>
	</main>
</Layout>