---
import Container from "./Container.astro"

---

<div id="about">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">
      <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
      </svg>-->
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/wuvorxbv.json"
          trigger="loop"
          colors="primary:#ee66aa,secondary:#7692ff"
          style="width:100px;height:100px">
      </lord-icon>
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
        یک رویکرد فناورانه<br/>
        به خرید سریع و قابل اعتماد
      </h2>
      <p class="text-gray-600 dark:text-gray-300">شما ما را از مجتمع تجاری علاءالدین می‌شناسید، <br/>جایی که ما گوشی‌های همراه و لوازم جانبی را با منطقی‌ترین قیمت‌ها ارائه می‌دهیم.</p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!--<img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />-->
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/larodhcs.json"
              trigger="loop"
              colors="primary:#121331,secondary:#7692ff"
              style="width:100px;height:100px">
          </lord-icon>

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              دربـاره مـا
            </h5>
            <p class="text-gray-600 dark:text-gray-300 text-justify">
              <b>پارس‌کام‌تل</b> یک فروشگاه آنلاین است که در زمینه فروش گوشی‌های همراه ولوازم جانبی.
              به عنوان شرکتی که پشتیبان وب‌سایت است، ما با افتخار ارائه مجموعه گسترده‌ای از برندها و خدمات مشتری استثنایی می‌پردازیم. ماموریت ما ارائه بهترین تجربه خرید ممکن برای مشتریان خود است که شامل...

              <li>انتخاب گسترده‌ای از گوشی‌های همراه و لوازم جانبی از برندهای معتبر </li>
              <li>تحویل سریع و ایمن برای اطمینان از یک تراکنش روان و ایمن</li>
              <li>خدمات مشتری برجسته برای پاسخگویی به هر نگرانی یا سوالی که مشتریان ما ممکن است داشته باشند</li>

            </p>
          </div>
          <!--<a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>-->
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/sktldlgt.json"
              trigger="loop"
              state="loop-all"
              colors="primary:#121331,secondary:#7692ff"
              style="width:100px;height:100px">
          </lord-icon>

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              هـدفـ مـا
            </h5>
            <p class="text-gray-600 dark:text-gray-300 text-justify">
              ما اهداف خود را برای تبدیل شدن به مقصد اصلی علاقمندان به گوشی‌های همراه و حرفه‌ایان در این زمینه قرار داده‌ایم. ما قصد داریم این هدف را با ارائه:
              <br/>
              <br/>

              <li>ارائه مجموعه جامعی از گوشی‌های همراه و لوازم جانبی از برندهای معتبر</li><br/>
              <li>ارائه خدمات مشتری استثنایی برای ایجاد اعتماد و وفاداری در میان مشتریان ما</li><br/>
              <li>بهبود مداوم تجربه خرید آنلاین ما برای برآورده کردن و فراتر رفتن از انتظارات مشتریان</li><br/>

            </p>
          </div>
          <!--<a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>-->
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!--<img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />-->
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/nchegqgo.json"
              trigger="loop"
              delay="1500"
              state="in-reveal"
              colors="primary:#121331,secondary:#7692ff"
              style="width:100px;height:100px">
          </lord-icon>

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              دیـد بـه آیـنـده
            </h5>
            <p class="text-gray-600 dark:text-gray-300 text-justify">
              در آینده، ما تصور می‌کنیم که پارس‌کام‌تل به عنوان یک پلتفرم آنلاین پر رونقی تبدیل می‌شود که نه تنها انتظارات مشتریان را برآورده می‌کند بلکه از آنها فراتر می‌رود. ما قصد داریم این هدف را با انجام موارد زیر دست یابیم:
              <br/>
              <br/>
              <li>توسعه دادن محصولات خود برای شامل کردن مدل‌های بیشتری از گوشی‌های همراه و لوازم جانبی</li>
              <li>بهبود خدمات مشتریان خود با معرفی کانال‌های ارتباطی جدید و گزینه‌های پشتیبانی</li>
              <li>پیاده‌سازی فناوری‌های نوآورانه برای بهبود کلی تجربه خرید و پیشتازی نسبت به رقبا</li>

            </p>
          </div>
          <!--<a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>-->
        </div>
      </div>
      <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <!--<img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />-->
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/rljrflzd.json"
              trigger="loop"
              colors="primary:#121331,secondary:#7692ff"
              style="width:100px;height:100px">
          </lord-icon>

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              جـمـع بـنـدی
            </h5>
            <p class="text-gray-600 dark:text-gray-300 text-justify">
              در پارس‌کام‌تل، ما متعهد به ارائه بهترین تجربه خرید ممکن به مشتریان خود هستیم. با ارائه مجموعه گسترده‌ای از برندها، خدمات مشتری برجسته و تحویل سریع و ایمن، ما سعی داریم تا مقصد آنلاین ترجیحی علاقمندان به گوشی‌های همراه و لوازم جانبی شویم. هدف و توانمندی‌های آینده ما ما را برای بهبود و رشد مداوم هدایت می‌کند، تا اطمینان حاصل کنیم که همواره منبعی قابل اعتماد و قابل اطمینان برای مشتریان گرامی خود باقی می‌مانیم.
            </p>
          </div>
          <!--<a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>-->
        </div>
      </div>
    </div>
  </Container>
</div>